doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel="stylesheet" href="/css/login.css")
form(action='/login' method='post')
  input(placeholder='Login' name='name' type='text')
  br
  input(placeholder='Hasło' name='password' type='password')
  br
  input.sub(type='submit' value="Zaloguj")